:root {
  --text-secondary: #777777;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

.horizontally-aligned > * {
  display: inline-grid;
  -webkit-font-smoothing: antialiased;
  margin-left: 3px;
  margin-right: 3px;
}

div#left-sidebar {
  background: #ffffff;
  font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  text-align: left;
  width: calc(24vw);
  float: left;
  margin: 5px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  border-radius: 5px 5px 5px 5px;
}

#header {
  font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  width: 100%;
  margin: 0 auto;
  background: #efefef;
  padding: 20px;
  margin-bottom: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}

#content {
  width: 69%;
  height: auto;
  position: absolute;
  margin: 5px 5px 5px 5px;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #ffffff,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #ffffff,
    0 17px 2px -6px rgba(0, 0, 0, 0.2)
}

#content > h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 48px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}

#content input[type="text"] {
  width: 85%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: inherit;
  line-height: 2em;
  border: 0;
  outline: none;
  padding: 10px;
  margin-bottom: 2px;
  border: 0.1px solid #999999;
  box-shadow: rgba(0, 0, 0.4, 50) 0.5px 1px 2px 0.5px inset;
}

#content li {
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 85%;
  font-size: 16px;
  font-family: inherit;
  line-height: 2.4em;
  border: 0;
  outline: none;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 2px;
  border: 0.1px solid #999999;
  box-shadow: rgba(0, 0, 0.4, 50) 0.5px 1px 2px 0.5px inset;
}

#content input::-webkit-input-placeholder {
  font-style: italic;
}
