:root {
  --text-secondary: #777777;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  width: 50%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

#todoitem {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #ffffff,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #ffffff,
    0 17px 2px -6px rgba(0, 0, 0, 0.2)
}

#todoitem h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 48px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}

#instructions {
  margin: 10px auto;
  color: var(--text-secondary);
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}

#credits {
  margin: 30px auto;
  color: var(--text-secondary);
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}

#credits a {
  color: var(--text-secondary);
}

#todoitem input[type="text"] {
  width: 97%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-family: inherit;
  line-height: 2em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  box-shadow: rgba(0, 0, 0.4, 0.2) 0 1px 2px 0 inset;
}

#todoitem li {
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 97%;
  font-size: 18px;
  font-family: inherit;
  line-height: 2em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  box-shadow: rgba(0, 0, 0.4, 0.2) 0 1px 2px 0 inset;
}

#todoitem input::-webkit-input-placeholder {
  font-style: italic;
}
