:root {
  --text-secondary: #777777;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

hr {
  display: none;
  width: 10px;
  border: none;
}

.horizontally-aligned > * {
  display: inline-grid;
  -webkit-font-smoothing: antialiased;
  margin-left: 3px;
  margin-right: 3px;
}

#left-sidebar {
  background: #ffffff;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  text-align: left;
  width: calc(24vw);
  float: left;
  margin: 5px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px 1px;
  border-radius: 5px 5px 5px 5px;
}

#bread-crumbs {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  width: 95%;
  margin: 0 auto;
  background: #f0f0f0;
  padding: 20px;
  margin-bottom: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}

#bread-crumbs:hover {
  background: #fefefe;
}

#content {
  width: 70%;
  height: auto;
  margin: 5px 5px 5px 5px;
  background: #fefefe;
  padding: 10px;
  margin-bottom: 2%;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #ffffff,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #ffffff,
    0 17px 2px -6px rgba(0, 0, 0, 0.2)
}

h1#heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 40px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}

.notifications {
  font-family: Helvetica, sans-serif;
  position: absolute;
  top: 20px;
  width: 30%;
  right: 20px;
  z-index: 100;
}

.notification {
  animation-name: pulse;
  opacity: 1;
  animation-duration: 1s;
  border-radius: 2px;
  font-size: 14px;
  min-height: 1em;
  overflow: hidden;
  padding: 15px 15px 15px;
  position: relative;
  word-wrap: break-word;
  margin: 5px 5px;
  background: rgba(4, 4, 4, 0.85);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.95);
  color: #ffffff;
}

.notification > span {
  color: #373737;
  float: right;
  cursor: pointer;
}

.notification > span:hover {
  color: #f2f2f2;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#overflow {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: auto;
}

#content input[type="text"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 85%;
  font-size: 16px;
  font-family: inherit;
  line-height: 2.4em;
  border: 0;
  padding: 10px;
  margin-bottom: 2px;
  border: 0.1px solid #999999;
  box-shadow: rgba(0, 0, 0.4, 50) 0.5px 1px 2px 0.5px inset;
}

div > li {
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 85%;
  font-size: 16px;
  font-family: inherit;
  line-height: 2.4em;
  border: 0;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 0.1px solid #999999;
  box-shadow: rgba(0, 0, 0.4, 50) 0.5px 1px 2px 0.5px inset;
}

div > li {
  padding: 10px;
}

div#overflow > li {
  padding: 0px;
}

#content input::-webkit-input-placeholder {
  font-style: italic;
}

ul#subtasks {
  margin-top: 0px;
  padding-inline-start: 40px;
}

ul#subtasks > li {
  margin-top: 2px;
  padding: 2px;
}

li#task-entry {
  list-style-type: none;
  width: 1000px;
  margin-left: 0px;
  padding: 0px;
  border: 0px;
  box-shadow: 0px 0px 0px 0px
}
